<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>April Gustafson</h1>
      <h4 class="subheader">Experienced STEM Educator | Emerging Software Engineer</h4>
    </div>
    <div class="code-container">
      <img src="/images/AprilG.jpg"/>
      <div>
        <h3>About me</h3>
        <p>I am an experienced STEM educator transitioning to the field of software engineering. I love to solve problems by making connections between ideas and strategies. After many years helping students unravel and appreciate the complexities of science, I discovered the world of software engineering! I am seeking employment opportunities where my past experience will connect with my new technology skills to create meaningful solutions.</p>
        <p>Problems that interest me: database design, recommendation engines (computers making decisions for me? Yes please!), machine learning, climbing mountains, learning Swedish </p>
      </div>
    </div>
  </main>
</body>
</html>
