<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Title</h1>
      <h4 class="subheader">Subheader</h4>
    </div>
    <div class="content">
      <img class="profile-photo" src="/images/IMG_6221" />
      <p>Paragraph</p>
    </div>
  </main>
</body>
</html>
