<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Moral Injury Work</h1>
      <p>Sign up to receive training in moral injury work.</p>
      <p>We will contact you in three months to follow up on your experience.</p>
      <p><a class="btn btn-primary btn-lg" href="/signup" target="_blank" role="button">Sign Up</a></p>
    </div>
  </main>

</body>
</html>
