<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Projects</h1>
    </div>
    <div class="container">
      <div class="code-container">
        <img src="/images/othello.png"/>
        <div>
          <h3>Othello</h3>
          <p>It's human vs AI in this game of Othello!</p>  
          <p>Developed in Python using object oriented design.  Implemented interactive game board using Turtle graphics.</p>
      </div>
    </div>
    <div class="code-container">
      <img src="/images/image_editor.png"/>
      <div>
        <h3>Image Editor</h3>
        <p>Edit and create images using this Image Editing application.</p>  
        <p>Developed in Java with MVC design. Implemented image processing techniques including grayscale, sepia, sharpen, blur, dither, and mosaic.  Designed and built GUI with Java Swing library to support user interaction through menus, buttons, and batch scripts.</p>
      </div>
    </div>
    <div class="code-container">
      <img src="/images/therappy.png"/>
      <div>
        <h3>TherAppy</h3>
        <p>Search for a mental health professional that meets your needs and preferences using this application.</p>
        <p>Developed a database and recommendation engine using MySQL to match clients with mental health professionals who best meet their needs and preferences.</p>
      </div>
    </div>
  </main>
</body>
</html>
