<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Sign Up</h1>
      <h4 class="subheader">Sign up to recieve moral injury training material.</h4>
    </div>
    <div class="content">
      <p>Content goes here</p>
    </div>
  </main>
</body>
</html>